<%= render "share/header" %>

<main class="d-flex flex-column flex-grow-1 p-4">
  <div class="my-4">
    <h1 class="text-center">
      <%= image_tag "home-icon.png",alt: "...", size: '40x40', class:"d-inline-block align-center me-1 mb-1"%>
      分担表
    </h1>
  </div>

  <div class="main-index rounded-5 p-4 p-sm-5 mx-auto mb-5">
    <div class="current-user-name"><%= current_user.nickname %></div>
    <%= link_to "+", new_family_day_task_path(params[:family_id]), class: "btn link-btn rounded-circle" %>

    <% @day_tasks.each do |day_task| %>
      <p><%= day_task.action_day %><%= day_task.task.content %><%= day_task.user.nickname %></p>
    <% end %>
  </div>

</main>

<%= render "share/footer" %>