<div class="simple-calendar">
  <div class="calendar-heading">
    <span class="calendar-title">
      <h3 class="text-center"><%= Time.zone.today.month %>月</h3>
      <% if calendar.number_of_weeks > 1 %>
        - <%= calendar.end_week %>
      <% end %>
    </span>

      <%= link_to t('simple_calendar.previous', default: '<<'), calendar.url_for_previous_view, class: "text-decoration-none text-dark me-1" %>
      <%= link_to t('simple_calendar.today', default: '今週'), calendar.url_for_today_view, class: "text-decoration-none text-dark me-1" %>
      <%= link_to t('simple_calendar.next', default: '>>'), calendar.url_for_next_view, class: "text-decoration-none text-dark" %>
  </div>
    
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <% date_range.slice(0, 7).each do |day| %>
            <% if day.saturday? %>
              <th class="text-primary"><%= t('date.abbr_day_names')[day.wday] %></th>
            <% elsif day.sunday? %>
              <th class="text-danger"><%= t('date.abbr_day_names')[day.wday] %></th>
            <% else %>
              <th><%= t('date.abbr_day_names')[day.wday] %></th>
            <% end %>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
